
<table align='center'>

	<tr><td align="center"><h1>Health Articles</h1></td></tr>
	<% @allarticles.each do |doctor_article| %>

	<tr> 
		<td>  
			<div class="alert alert-primary mr-3 " role="alert" style="width: 500px; height: 100px;">
				<b>Article Name: </b><%= doctor_article.article_name %><br>
				<b>About Article: </b><%= doctor_article.about_article %><br><br>

			</div>
		</td>
		<td ><%= link_to 'Show', doctor_article, class:"btn btn-outline-primary mr-3"%></td>  
	</tr>

	<% end %>
	
</table> 
