
<br><br><table class="table table-striped table-bordered" style="width:980px;" align="center">

  <tr>
    <td>Doctor Name</td>
    <td><b><%= @showdoctor.name%></b></td>
  </tr>

  <tr>
    <td>Doctor Designation</td>
    <td><b><%= @showdoctor.designation %></b></td>
  </tr>

  <tr>
    <td>Doctor Location</td>
    <td><b><%= @showdoctor.location %></b></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><b><%= @showdoctor.email %></b></td>
  </tr>

</table>