.backgroundimg{
	background-image: url("home_background.jpg");
	background-repeat: no-repeat;
	height: 350px;
	background-size: cover; 
	
}

.backgroundimg .aligment{
	align-items: center;
}

.secondbg{
	
	height: 200px;
	background-size: cover; 
	width: 1518px;
	position: absolute;
    top: 60%;
	
	
}
